body {
    background-color: rgb(93, 139, 114);
    display: flex;
    flex-wrap: wrap;
  }

.tytul {
    background-color: rgb(230, 231, 126);
    text-align: center;
    width: 100%
}

 .menu  {
     width: 100%;
     text-align: center;
     height: 30vh
     
 }

 .header {
     background-color: rgb(150, 102, 212);
     height: 25vh
      }

 .sidebar {
    background-color: rgb(189, 82, 88);
    height: 20vh
   
 }

 .menu_item {
    background-color: rgb(71, 68, 109);
    height: 15vh
     
 }

 .footer {
    background-color: rgb(180, 147, 202);
    height: 10vh
 }

.item_link {
    display: inline-block;
}
